/builds/*
!/builds/README.md
/code/legacy-laravel/.phpunit.cache
/code/legacy-laravel/node_modules
/code/legacy-laravel/nativephp
/nativephp
/code/legacy-laravel/public/build
/code/legacy-laravel/public/fonts-manifest.dev.json
/code/legacy-laravel/public/hot
/code/legacy-laravel/public/storage
/code/legacy-laravel/storage/*.key
/code/legacy-laravel/storage/pail
/code/legacy-laravel/vendor
/code/legacy-laravel/.env
/code/legacy-laravel/.env.backup
/code/legacy-laravel/.env.production
/code/legacy-laravel/.phpactor.json
/code/legacy-laravel/.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/code/legacy-laravel/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
/code/native/**/bin
/code/native/**/obj
*.user
